@font-face {
   font-family: 'made-future-x-header-medium';
   font-display: swap;
   src: url('file:///Users/RPNSKI/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-01-31_182623/fonts/made-future-x-header-medium/font.ttf');
}
